body {
	text-align: center;
}
div {
	text-align: left;
}
a {
	color: #000;
	text-decoration: none;
}
#logo {
	width: min-content;
	width: -moz-min-content;
	margin: 20px auto;
}
#logo img {
	width: 200px;
	margin: 0 auto;
}
#menu {
	display: none;
	background-color: #4ec7cd;
	margin: 0px 0 20px 0;
	padding: 10px;
}
#menu .bar {
	width: min-content;
	width: -moz-min-content;
	margin: 0 auto;
	white-space: nowrap;
}
#menu .button {
	color: #fff;
	margin: 0 10px;
	display: inline-block;
}
#menu a {
	color: #fff;
}
#post {
	text-align: right;
	margin: 0 0 20px 0;
}
#urlBox {
	display: inline-block;
	position: relative;
}
#clear {
	position: absolute;
	top: 0;
	right: 5px;
	color: #757575;
	cursor: pointer;
}
#links {
	display: initial;
}
.link {
	width: 200px;
	width: min-content;
	width: -moz-min-content;
	display: inline-block;
	margin: 10px;
	vertical-align: top;
}
.link img {
	width: 200px;
	height: 150px;
	box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .5);
}
.link span {
	margin: 0 6px;
	height: 62px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	overflow: hidden;
	font-size: 14px;
}
.ad {
	display: none;
}
#modal {
	display: none;
	position: fixed;
	background-color: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100%;
	z-index: 10;
	text-align: center;
	top: 0;
	left: 0;
}
#modal.on {
	display: block;
}

#modal svg {
	margin-top: calc(50vh - 20px);
}

.adSP {
	display: none;
}

@media screen and (max-width:462px) {
	.adPC {
		display: none;
	}
	.adSP {
		display: block;
		margin: 0 auto;
	}

	.link img {
		width: 100px;
		height: 75px;
	}

	.link span {
		display: -webkit-inline-box;
		width: calc(100vw - 148px);
		padding: 6px 0 0 6px;
		vertical-align: top;

	}

	.link {
		width: max-content;
	}
}
