a {
	color: #000;
	text-decoration: none;
}
#logo {
	width: min-content;
	margin: 20px auto;
}
#logo img {
	width: 200px;
	margin: 0 auto;
}
#menu {
	background-color: #4ec7cd;
	margin: 0px 0 20px 0;
	padding: 10px;
}
#menu .bar {
	width: 200px;
	margin: 0 auto;
}
#menu .button {
	color: #fff;
}
.link {
	width: min-content;
}
.link img {
	width: 200px;
	box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .5);
}
.link span {
	margin: 0 6px;
	height: 62px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	overflow: hidden;
	font-size: 14px;
}
